@import '../index.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  box-shadow: 0 5px 10px rgb(37 40 41 / 30%);
  height: 92px;
  @include medium {
    height: 70px;
  }
}

.container {
  position: absolute;
  // top: 0;
  width: 100%;
  z-index: 9999;
  background: #1eb7ee;
  color: #fff;
  align-items: center !important;
  display: flex;
  height: 100%;
}

.logo {
  flex: 0 0 25%;

  margin-left: 120px;
  @include medium {
    margin: 10px;
  }
  &_img {
    max-width: 150px;
  }
}

.navbar {
  flex-grow: 1;
  height: 100%;

  &-click {
    background: linear-gradient(-90deg, #ffffff 3%, #1eb7ee 100%);
    color: #008ab7;
  }

  &_nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-right: 20px;
    @include medium {
      display: none;
    }
    &_item {
      cursor: pointer;
      display: flex;
      align-items: center;
      min-height: 100%;
      border-radius: 0 30px 0 0;

      &-text {
        font-size: 20px;
        font-weight: 600;
        padding: 0 40px;
      }
      &:hover {
        background: linear-gradient(-90deg, #ffffff 3%, #1eb7ee 100%);
        color: #008ab7;
      }
    }
  }
}

.medium {
  display: none;
  @include medium {
    display: block;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 50px;
    &-icon {
      cursor: pointer;
    }
  }
}
