@import '../../index.scss';

.table {
  padding-top: 35px;
  width: 85%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  @include small {
    padding-top: 15px;
  }

  &-flight {
    width: 100%;
    margin-bottom: 16px;
    border-collapse: collapse;
    &__header {
      color: #95989a;
      @include small {
        font-size: 9px;
      }
    }
    &__body {
      @include medium {
        font-size: 12px;
      }
      @include small {
        font-size: 9px;
      }
      &-tr {
        &:nth-of-type(odd) {
          background-color: rgba(0, 102, 135, 0.1);
        }
      }
      &-terminal {
        text-align: center;
        padding: 16px 10px;
        @include small {
          padding: 10px 5px;
        }
        &__text {
          color: #63c745;
          font-weight: 700;
          border: 1px solid #63c745;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 35px;
          font-size: 22px;
          @include medium {
            font-size: 12px;
            width: 20px;
            height: 20px;
            line-height: 17px;
          }
          @include small {
            font-size: 9px;
            width: 15px;
            height: 15px;
            line-height: 13px;
          }
        }
      }
      &-flight {
        @include medium {
          padding-right: 10px;
        }
        @include small {
          padding-right: 0;
        }
      }
      &-compName {
        display: flex;
        align-items: center;
        line-height: 100%;
        &__container {
          height: 40px;
          margin-top: 10px;
          margin-right: 5px;
        }
      }
      &-details {
        min-width: 150px;
        @include medium {
          display: none;
        }
      }
    }
  }
}

.logo {
  &-img {
    max-width: 100%;
    max-height: 95%;
    top: 5%;
    position: relative;
    display: inline-block;
    @include medium {
      max-height: 60%;
    }
    @include small {
      top: 18%;
      max-height: 40%;
      padding-left: 5px;
    }
  }
  &-p {
    margin: 0;
    margin-top: 15px;
    @include medium {
      margin-top: 0;
    }
  }
}

td {
  text-align: center;
}
