.table {
  padding-top: 35px;
  width: 85%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;

  &-flight {
    width: 100%;
    margin-bottom: 16px;
    border-collapse: collapse;
    &__header {
      color: #95989a;
      font-size: 16px;
      font-weight: 600;
    }
    &__body {
      &-tr {
        &:nth-of-type(odd) {
          background-color: rgba(0, 102, 135, 0.1);
        }
      }
      &-terminal {
        display: table-cell;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        padding: 16px 10px;
        border: 0;
        vertical-align: top;
        &__text {
          color: #63c745;
          font-weight: 700;
          border: 1px solid #63c745;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 35px;
          font-size: 22px;
        }
      }
      &-compName {
        display: flex;
        align-items: center;
        &__container {
          height: 40px;
          text-align: center;
          margin-right: 5px;
        }
      }
      &-details {
        min-width: 150px;
      }
    }
  }
}

.logo-img {
  max-width: 100%;
  max-height: 95%;
  top: 5%;
  position: relative;
  display: inline-block;
}

td {
  text-align: center;
}
