@import '../index.scss';
.search-flights {
  padding: 40px 0 20px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 93px;
  background: #e7efec;
  flex: 1 0 auto;
  @include medium {
    margin-top: 70px;
  }
}

.btn {
  cursor: pointer;
  flex: 1 1 auto;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  background: #73d2f0;
  overflow: hidden;
  padding: 0;
  font-size: 24px;
  border: 0;
  line-height: 60px;
  @include medium {
    line-height: 40px;
    font-size: 16px;
  }
}
