@import '../../index.scss';

.result-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  padding-top: 25px;
  background: #fff;
  @include small {
    padding: 0;
    padding-top: 15px;
  }
}

.calendar-date {
  display: flex;
  &__input {
    margin-left: 20px;

    &-value {
      font-size: 12px;
      font-weight: 700;
      color: #1eb7ee;
      cursor: pointer;
      @include medium {
        font-weight: 400;
        font-size: 11px;
      }
      @include small {
        font-weight: 300;
        font-size: 9px;
      }
      &::after {
        content: '';
        height: 50px;
        width: 50px;
        display: block;
        background: #1eb7ee url(https://dreamy-cannoli-af2a17.netlify.app/1b286ab9606ba0071cc0.SVG)
          center no-repeat;
        background-size: 70%;
        @include medium {
          height: 35px;
          width: 35px;
        }
        @include small {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}

.days {
  margin-left: 30px;
  display: flex;
  width: 50%;
  padding-top: 3px;
  cursor: pointer;
  @include small {
    margin-left: 15px;
    width: auto;
  }

  &-other {
    text-align: center;
    color: #b8b9b9;
    border-bottom: 3px solid #d0d0d0;
    flex-basis: 33.33333%;
    @include medium {
      margin-right: 5px;
    }
  }
  &-today {
    color: #1eb7ee;
    text-align: center;
    border-bottom: 3px solid #1eb7ee;
    flex-basis: 33.33333%;
    @include medium {
      margin-right: 5px;
    }
  }
}

.day-num {
  font-size: 12px;
  margin-bottom: 8px;
  @include medium {
    font-size: 10px;
    margin-top: 2px;
  }
  @include small {
    font-size: 9px;
    margin-top: 4.5px;
  }
}
.day-title {
  font-weight: 700;
  text-transform: uppercase;
  @include medium {
    font-size: 12px;
    margin-top: 2px;
  }
  @include small {
    font-size: 9px;
    margin-top: 4.5px;
  }
}

a {
  text-decoration: none;
}

.react-datepicker {
  position: absolute !important;
  left: 120px;

  @include small {
    left: 15px;
  }
}
