.last-conteiner {
  padding-left: 100px;
  padding-right: 100px;
  margin-right: auto;
  margin-left: auto;
  // max-width: 1140px;
  &-info {
    padding-top: 20px;
    margin-top: 30px;
    color: #b8bdc1;
    border-top: 1px solid #b8bdc1;
    display: flex;
  }
}

.datas {
  font-size: 12px;
  line-height: 18px;
  padding-right: 40px;
  padding-left: 40px;
}

.ufuture {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  &-link {
    display: flex;
    align-items: center;
    line-height: 18px;
    color: #b8bdc1;
    cursor: pointer;

    &__img {
      margin-left: 25px;
      width: 35px;
    }
  }
}
